<div class="content-wrapper">
<h1>About Slaughterhouse Five</h1>
<p>
  Slaughterhouse Five raises grassfed beef, pigs and chickens. Our cows eat only grass and hay (no grains) for a healthy, flavorful meat that is lean, yet high in omega 3 fats. No hormones or antibiotics are used. The beef is dry aged for full flavor and tenderness, then vacuum wrapped and frozen for freshness.
</p>
<p>
  We sell our own naturally raised pork, chicken and eggs and we also have raw honey from Utah. We are Animal Welfare Approved. The well stocked store is right here at the farm. We are open every Friday and Saturday year round... OR by request. We now accept credit cards and hope to see you soon. John and Jane 801-555-2222
</p>
<p>To read about the health benefits of grassfed beef visit <%= link_to 'Eatwild.com', 'http://www.eatwild.com/healthbenefits.htm' %>.</p>
</div>
