<div class="content-wrapper">
<h4>Welcome!</h4>
<p>
Slaughterhouse Five is your local source of grass-fed beef, raw milk, raw cheese, pastured poultry,woodland pork, garden produce, herbs, honey and more. All of this is delivered to your area of Utah. All of our foods are soy-free, GMO-free and grown with respect to the environment. Some of our foods are certified organic and all are grown with organic principles.
</p>
<h4>Just imagine... Dream with me a little!</h4>

<h5>What if...Sourcing local food was easy?</h5>

<p>What if there was a local, organic, family farm where you could shop on-line. No need to go to 5 different farms or drag your toddlers through the farmers market lugging your day’s purchases. You could order all the hard to find organic stuff, like Soy-free Eggs from organic pastured hens, Chicken and Turkey also pastured and soy-free, Raw Milk straight from grass-fed Jersey cows, Woodland raised Pork, Homemade Kefir, Yogurt and Kombucha all straight from the farmers themselves yet do it all from the comfort and safety of your home.</p>

<h5>What if...The farm would have everything!</h5>

<p>Not only all the specialties like Raw Milk from Grass-fed Jerseys cows but also the more common foods like Unpasteurized Organic Cider, Raw Cheeses of all kinds, Raw Wild Honey, Artisan and Sprouted Grain Bread, Grass–fed Beef, Home Canned Garden Produce, Homemade Goat Milk Soap and well…just about everything! Wouldn’t that be neat?</p>

<h5>And what if...It would not be a CSA either.</h5>

<p>There would be no prepayment. There would be no minimum purchase. Not even an order obligation or a membership fee.  But best of all, there would be no surprises. You wouldn’t get rutabagas and kale unless you ordered rutabagas and kale. You would only buy the foods you need when you need them. Done deal.</p>

<h5>What if...The farmers themselves would deliver your food.</h5>

<p>Your special order would be carefully packed in ice and would be delivered right to your community parking lot… maybe right to your car. So you could really know your farmer, shake his hand and ask him hard questions. Connecting with those who grow your food doesn’t get any better than this!</p>

<h5>But this is only a dream right? Local buying will never be this easy. Wrong!</h5>

<p>Buying local food already is this easy.  This dream and even more is already a reality.  You are only now waking-up!  Good Morning!  Join the movement!... We are pleased to have you with us.  Welcome to Slaughterhouse Five!</p>
</div>
